<!DOCTYPE html>
<html>
  <head>
    <title>ChristmasExchange</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="snow" id="snow">
    </div>
    <main class="main">
      <div class="flash__message">
        <% flash.each do |type, msg| %>
          <div class="flash__message-<%= type %>">
            <% if msg.kind_of?(Array) %>
              <%= safe_join(msg, "<br>".html_safe) %>
            <% else %>
              <%= msg %>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
