<!DOCTYPE html>
<html>
  <head>
    <title>ChristmasExchange</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <div class="flash__messages">
        <% flash.each do |type, msg| %>
          <div class="alert">
            <%= msg if type == "notice" %>
          </div>
          <div class="error">
            <%= msg if type == "error" %>
          </div>
          <div class="alert">
            <%= msg if type == "success" %>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
